<nav class="mt-15 bg-purple-400 shadow-lg w-md m-auto h-220 rounded-2xl ">
    <div class="flex justify-around p-4 h-15 bg-purple-600 rounded-2xl ">
        <h1 class="subpixel-antialiased   "> Todo List</h1>
    </div>
    <input class="mt-5 ml-10 bg-white rounded-xl w-70 h-10" variant="filled" [(ngModel)]="newTask" placeholder="    Enter new task" />
    <p-button (click)="addTask()" class="ml-5" label="Add" severity="secondary"  />
    <p-divider  />
    @for (item of todoList; track item ; let i = $index) {
        <ul class="ml-15 bg-white w-80 p-3 m-5 rounded-xl">
          <li class="flex items-center gap-4">
            <input type="checkbox" (onclick)="isComplitedin(i)" />
            <div class="">{{ item.task }}</div>
            <p-button  (onClick)="deleteTask(item.id)" icon="pi pi-trash" [rounded]="true" [text]="true" />
            <p-button (onClick)="isEditing(item)" icon="pi pi-pencil" [rounded]="true" [text]="true" />
          </li>
          @if (item.isediting) {
            <p-dialog header="Edit todoList" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
                <span class="p-text-secondary block mb-8">Update your information.</span>
                    <div class="flex items-center gap-4 mb-4">
                    <label for="newTask" class="font-semibold w-24">new Task</label>
                     <input pInputText id="newTask" class="flex-auto" autocomplete="off" [(ngModel)]="newtitel" />
                 </div>
                 <div class="flex justify-end gap-2">
                    <p-button label="Cancel" severity="secondary" (click)="cancel(item)" />
                    <p-button label="Save" (click)="save( item,newtitel)" />
                </div>
            </p-dialog>
        

          }
          
        </ul>
      }
</nav>
