/* تقویم داخل کارت بدون بیرون زدن */
.calendar-box .p-datepicker {
  width: 100% !important;
  max-width: 290px !important;
  margin: auto;
  border: none !important;
  background: white !important;
}

/* سلول‌ها */
.calendar-box table td > span {
  border-radius: 10px !important;
  background: #eef4ff !important;
}

.calendar-box table td > span.p-highlight {
  background: #3b82f6 !important;
  color: white !important;
}
