<div class="w-full flex flex-col md:flex-row  bg-white  ">
    <div class="w-2/3">

    </div>

      <div class="bg-gradient-to-b from-white to-slate-400 right-0 md:w-1/3 h-screen   flex flex-col items-center justify-center    ">
        <div class="flex flex-col gap-2 text-right">
            <label for="username">نام کاربری </label>
            <input pInputText id="username" type="text" />
        </div>
        <div class="flex flex-col gap-2 text-right">
            <label for="password" class="">رمز عبور</label>
            <input pInputText id="password" type="password" />
        </div>
        <div class="flex">
            <p-button label="ورود به سایت" icon="pi pi-user" class="w-full max-w-[17.35rem] mt-5" styleClass="w-full mx-auto" />
        </div>
    </div>
   
</div>
